BasedOnStyle: LLVM
IndentWidth: 3
SortIncludes: false
IncludeBlocks: Preserve
ColumnLimit: 180
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

